.body-content {
    margin-top: 20px;
    width: 100%;
}

.emph {
    text-shadow: 0px 0px 5px #000;
}

.file-list-container {
    margin: 0 auto;
    width: 700px;
}

.heading {
    position: inherit;
    font-size: 30px;
    margin-bottom: 15px;
}

.highlight {
    color: rgba(255,0,0,0.7);
}

.comparison-wrapper {
    position: absolute;
    left: 0;
    width: 100vw;
    height: calc(100vh - 130px);
}

.filebox {
    width: 50%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    white-space: pre;
}

.box-glow {
    border: solid 2px #2780E3;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.table-links-block td a {
    display: block;
    padding: 8px;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.table-links-block tbody tr td {
    padding: 0px ;
}

.upload-form-container {
    position: absolute;
    top: 130px;
}

.fileContainer {
    overflow: hidden;
    width: 120px;
    margin-right: 10px;
    left: 0;
}


.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

