{% extends "layout.html" %}

{% block content %}
<div class="heading">Comparisons for report {{ report_id }}</div>
<div class="file-list-container">

	<table class="table table-striped table-hover table-links-block">
		<thead>
			<tr>
				<th>#</th>
				<th>Match %</th>
				<th>User A</th>
				<th>User B</th>
			</tr>
		</thead>
		<tbody>
			{% for comparison in object_list %}
			<tr>
				<td>
					<a href="{% url 'report' report_id comparison.file_1 comparison.file_2 %}">
						{{ forloop.counter }}
					</a>
				</td>
                <td>
					<a href="{% url 'report' report_id comparison.file_1 comparison.file_2 %}">
						{{ comparison.percent_match }}
					</a>
				</td>
				<td>
					<a href="{% url 'report' report_id comparison.file_1 comparison.file_2 %}">
						{{ comparison.user1 }}
					</a>
				</td>
				<td>
					<a href="{% url 'report' report_id comparison.file_1 comparison.file_2 %}">
						{{ comparison.user2 }}
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}