
<div>
    <form class="form-horizontal" id="uploadform" action="{% url "fileupload" %}" method="post" enctype="multipart/form-data" >
        <div class="form-group">
            <label class="control-label" for="id_file"></label>
            <span class="col-xs-2 fileContainer btn btn-primary"> Select zip file
                <input id="id_file" name="file" type="file"/>
            </span>
            <label class="control-label" for="id_file" id="id_file_name"></label>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_compare_from_year">Compare from year:</label>
            <span class="col-xs-2">
                <input class="input-sm" id="id_compare_from_year" name="year" type="text" placeholder="year" />
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_param_t">Parameter t:</label>
            <span class="col-xs-2">
                <input class="input-sm" id="id_param_t" name="param_t" type="text" placeholder="t"/>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_param_n">Parameter w:</label>
            <span class="col-xs-2">
                <input class="input-sm" id="id_param_n" name="param_n" type="text" placeholder="w"/>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_Description">Submission Description:</label>
            <span class="col-xs-2">
                <input class="input-sm" id="id_Description" name="description" type="text" placeholder="description" />
            </span>
        </div>
        <div class="form-group">
            <input class = "btn btn-primary fileContainer" type="submit" value="Submit"/>
        </div>
    </form>
</div>

